@{
    ViewData["Title"] = "Johan";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@section css {
    <link href="@Url.Content("~/css/Johan.css")" rel="stylesheet" />
}
<body style="background-color: azure">
    <div class="shadow-container">
        <div class="shadows">
            <span>J</span>
            <span>O</span>
            <span>H</span>
            <span>A</span>
            <span>N</span>
            <span>F</span>
            <span>R</span>
            <span>A</span>
            <span>N</span>
            <span>Z</span>
            <span>É</span>
            <span>N</span>
        </div>
    </div>
    <div class="flex-container">
        <div class="skills">
            <h2 class="my-skills">My Skills</h2>
            <ul class="skill-list">
                <li class="javascript">
                    JavaScript <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    C# <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    HTLM/CSS <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    Python <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    C++ <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    React <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    Azure <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    SQL <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    Firebase <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </li>
                <li>
                    Cooking <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </li>
            </ul>
            <ul class="cleaning">
                <li>
                   Cleaning <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </li>
            </ul>
        </div>
        <div class="previous">
            <h3 class="pemp">Previous Employments</h3>
            <ul class="links">
                <li class="tesla"><a href="https://www.tesla.com/" target="_blank">Tesla</a></li>
                <li class="neuralink"><a href="https://neuralink.com/" target="_blank">Neuralink</a></li>
                <li class="spacex"><a href="https://www.spacex.com/" target="_blank">SpaceX</a></li>
                <li class="nasa"><a href="https://www.nasa.gov/" target="_blank">NASA</a></li>
                <li class="google"><a href="https://www.google.se/" target="_blank">Google</a></li>
                <li class="nsa"><a href="https://www.nsa.gov/" target="_blank">NSA</a></li>
            </ul>
        </div>
    </div>
    <div class="btn-box">
        <div class="btn" type="button" new{ onclick="return confirm('Sorry, I just hacked your bank account and you can´t afford me');" }>
            <span>ENQUIRY FOR WORK</span>
        </div>
    </div>
</body>