@{
    ViewData["Title"] = "Johan";
}

<div class="">
    <h1 class="display-4">Hejsan Hoppsan</h1>
    <p>Jag heter Johan</p>
</div>
<h3>TEST</h3>
<h2>blabla</h2>
<h1>kurwa</h1>
<h1>trallal</h1>