@{
    ViewData["Title"] = "Johan";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@section css {
    <link href="@Url.Content("~/css/Johan.css")" rel="stylesheet" />
}
<body style="background-color:azure">
    <div class="shadow-container">
        <div class="shadows">
            <span>J</span>
            <span>O</span>
            <span>H</span>
            <span>A</span>
            <span>N</span>
            <span>F</span>
            <span>R</span>
            <span>A</span>
            <span>N</span>
            <span>Z</span>
            <span>É</span>
            <span>N</span>
        </div>
    </div>
    <h2>My Skills</h2>
    <div class="flex-container">
        <div class="skills">
            <ul>
                <li>JavaScript</li>
                <li>C#</li>
                <li>HTLM/CSS</li>
                <li>Python</li>
                <li>C++</li>
                <li>React</li>
                <li>Azure</li>
                <li>SQL</li>
                <li>Firebase</li>
                <li>Cooking</li>
                <li>Cleaning</li>
            </ul>
        </div>
        <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <br />
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="previous">
            <h3>Previous Employments</h3>
            <ul>
                <li>Tesla</li>
                <li>Neuralink</li>
                <li>SpaceX</li>
                <li>NASA</li>
                <li>Google</li>
                <li>NSA</li>
            </ul>
        </div>
    </div>
    <div class="box-1">
        <div class="btn" type="button" new{ onclick="return confirm('Sorry, I just hacked your bank account and you can´t afford me');"}>
            <span>ENQUIRY FOR WORK</span>
        </div>
    </div>
</body>