@{
    ViewData["Title"] = "Home Page";
}

@section css {
    <link href="@Url.Content("~/css/Home.css")" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Grupp 3</h1>

    <div class="container">
        <p class="p-p1">Johan, Edwin</p><p class="p-p2"> och Ibrahim</p>
    </div>
</div>

