
@{
    ViewData["Title"] = "Edwin";
}

@section css {
    <link href="@Url.Content("~/css/Edwin.css")" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" rel="stylesheet" >
}

<body>

    <section class="container-section">
        <section class="container-box">
            <header>
                
                    <h1 style="font-size: 32px; display: inline;"> Edwin Gustafsson</h1>
                
            </header>
            <article>
                <br>

                <p class="italic-larger-txt">
                    Astronaut
                </p>
                <ul id="socil-icons" st>
                    <li title="Linkedin">
                        <a href="https://github.com/EdGustafsson" target="_blank">
                            <i class="fab fa-linkedin iconi"></i>
                        </a>

                    </li>
                    <li title="Github">
                        <a href="https://github.com/EdGustafsson" target="_blank">
                            <i class="fab fa-github-square iconi"></i>
                        </a>
                    </li>
                    <li title="Youtube">
                        <a href="https://github.com/EdGustafsson" target="_blank">
                            <i class="fab fa-youtube iconi"></i>

                        </a>
                    </li>
                    <li title="Twitter">
                        <a href="https://github.com/EdGustafsson" target="_blank">
                            <i class="fab fa-twitter-square iconi"></i>
                        </a>
                    </li>

                    <li title="E-mail">
                        <a href="https://github.com/EdGustafsson" target="_blank">
                            <i class="fas fa-envelope iconi"></i>
                        </a>

                    </li>


                </ul>
            </article>

  
        </section>

    </section>
    


</body>
